Repository aristath/portfolioManager: changes, and which lefthook commands are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-yaml, check-json, check-toml, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, build-frontend, copy-embedded-files

trailing-whitespace:
  run: "for file in {staged_files}; do\n  if [ -f \"$file\" ]; then\n    # Remove trailing whitespace\n    if [[ \"$OSTYPE\" == \"darwin\"* ]]; then\n      sed -i '' 's/[[:space:]]*$//' \"$file\"\n    else\n      sed -i 's/[[:space:]]*$//' \"$file\"\n    fi\n  fi\ndone\n"
  stage_fixed: true

end-of-file-fixer:
  run: "for file in {staged_files}; do\n  if [ -f \"$file\" ] && [ -s \"$file\" ]; then\n    # Ensure file ends with newline\n    if [ \"$(tail -c 1 \"$file\" | wc -l)\" -eq 0 ]; then\n      echo \"\" >> \"$file\"\n    fi\n  fi\ndone\n"
  stage_fixed: true

check-yaml:
  run: "for file in {staged_files}; do\n  if command -v python3 &> /dev/null; then\n    python3 -c \"import yaml; yaml.safe_load(open('$file'))\" || exit 1\n  elif command -v yq &> /dev/null; then\n    yq e '.' \"$file\" > /dev/null || exit 1\n  fi\ndone\n"

check-json:
  run: "for file in {staged_files}; do\n  if command -v python3 &> /dev/null; then\n    python3 -c \"import json; json.load(open('$file'))\" || exit 1\n  elif command -v jq &> /dev/null; then\n    jq empty \"$file\" || exit 1\n  fi\ndone\n"

check-toml:
  run: "for file in {staged_files}; do\n  if command -v python3 &> /dev/null; then\n    python3 -c \"import tomllib; tomllib.load(open('$file', 'rb'))\" 2>/dev/null || \\\n    python3 -c \"import toml; toml.load('$file')\" || exit 1\n  fi\ndone\n"

check-merge-conflict:
  run: "for file in {staged_files}; do\n  if [ -f \"$file\" ]; then\n    if grep -qE '^(<<<<<<<|=======|>>>>>>>)' \"$file\" 2>/dev/null; then\n      echo \"❌ Merge conflict markers found in: $file\"\n      exit 1\n    fi\n  fi\ndone\n"

check-large-files:
  run: "MAX_SIZE=1048576  # 1MB in bytes\nfor file in {staged_files}; do\n  if [ -f \"$file\" ]; then\n    size=$(wc -c < \"$file\" | tr -d ' ')\n    if [ \"$size\" -gt \"$MAX_SIZE\" ]; then\n      echo \"❌ File too large (>1MB): $file ($size bytes)\"\n      exit 1\n    fi\n  fi\ndone\n"

go-fmt:
  run: gofmt -w {staged_files}
  stage_fixed: true

go-vet:
  run: go vet ./...

go-mod-tidy:
  run: "go mod tidy\nif ! git diff --quiet go.mod go.sum 2>/dev/null; then\n  git add go.mod go.sum\n  echo \"✓ go.mod/go.sum updated and staged\"\nfi\n"
  stage_fixed: true

go-build:
  run: go build ./...

golangci-lint:
  run: golangci-lint run --timeout=5m --config .golangci.yml ./...

build-frontend:
  run: "# Check if any frontend source files are staged\nSTAGED=$(git diff --cached --name-only --diff-filter=ACM | grep -E '^frontend/' | grep -vE '^frontend/(dist|node_modules)/' || true)\nif [ -z \"$STAGED\" ]; then\n  exit 0\nfi\n\necho \"Frontend source files changed, building...\"\ncd frontend\n
  ...

copy-embedded-files:
  run: 'mkdir -p pkg/embedded/frontend pkg/embedded/display
  
    cp -r frontend/dist pkg/embedded/frontend/ 2>/dev/null || true
  
    cp -r display/app pkg/embedded/display/ 2>/dev/null || true
  
    cp display/app.yaml pkg/embedded/display/ 2>/dev/null || true
  
  ...

ml_predictor: store predicted_at as unix timestamp; update ML_HISTORICAL_INVESTIGATION schema doc
  docs/ML_HISTORICAL_INVESTIGATION.md
  sentinel/ml_predictor.py
  sentinel/version.py
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files

backtester: handle executed_at as unix timestamp; fetch 20 years for build
  sentinel/backtester.py
  sentinel/version.py
Due: check-merge-conflict, check-large-files

api: fix unified view ml_pred key access; request 20 years on add security
  sentinel/api/routers/securities.py
Due: check-merge-conflict, check-large-files

historical prices: default 20 years, sync script, tradernet doc; jobs simplify if data
  docs/tradernet/quotes_and_market_data/quotes-get-hloc.md
  scripts/sync_historical_prices.py
  sentinel/broker.py
  sentinel/jobs/tasks.py
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files

TUI: drop go-figure, use formatWithSeparators, simplify max() in view
  TUI/go.mod
  TUI/go.sum
  TUI/internal/ui/view.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

feat(db): get_score/get_scores as_of_date; Security.get_score(as_of_date); tests
  sentinel/database/base.py
  sentinel/security.py
  sentinel/version.py
  tests/test_database.py
  tests/test_security.py
Due: check-merge-conflict, check-large-files

feat(regime): quote_data_from_prices, get_regime_adjusted_return(quote_data=None); tests
  sentinel/regime_quote.py
  tests/test_ml_regime.py
Due: check-merge-conflict, check-large-files

fix(portfolio): stop double-counting cash in totals
  docs/audit_portfolio_logic_findings_2026-02-05.md
  sentinel/api/routers/trading.py
  sentinel/services/portfolio.py
  sentinel/version.py
  web/dist/assets/index-CokgFOYN.js
  web/dist/assets/index-Dcel_DPk.js
  web/dist/index.html
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files

docs(audit): drop fixed cashflow profit issue
  docs/audit_portfolio_logic_findings_2026-02-05.md
  sentinel/version.py
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files

docs(planner): add invested-only redesign plan
  docs/plans/2026-02-05-planner-invested-only-redesign-design.md
  sentinel/version.py
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files

fix(planner): honor as_of_date in cool-off checks
  sentinel/planner/rebalance.py
  sentinel/version.py
Due: check-merge-conflict, check-large-files

fix(planner): compute current allocations invested-only
  sentinel/planner/analyzer.py
  sentinel/version.py
  tests/test_planner_allocations_invested_only.py
Due: check-merge-conflict, check-large-files

fix(planner): size recommendations using invested-only value
  sentinel/planner/analyzer.py
  sentinel/planner/planner.py
  sentinel/version.py
  tests/test_planner_sizing_invested_only.py
Due: check-merge-conflict, check-large-files

fix(ml): shrink per-symbol NN and bound outputs via tanh scaling
  sentinel/ml_ensemble.py
  sentinel/ml_monitor.py
  sentinel/version.py
  tests/test_ml_comprehensive.py
  tests/test_ml_ensemble.py
  tests/test_ml_monitor.py
  tests/test_ml_nn_architecture.py
Due: check-merge-conflict, check-large-files

feat(planner): merge invested-only redesign with backtesting support
  sentinel/planner/analyzer.py
  sentinel/planner/rebalance.py
  sentinel/version.py
Due: check-merge-conflict, check-large-files

feat(backfill): add progress logging and ETA for snapshot runs
  sentinel/snapshot_service.py
  sentinel/version.py
  tests/test_snapshot_service.py
  web/dist/assets/index-DCiOmIMv.js
  web/dist/index.html
  web/src/components/PortfolioPnLChart.jsx
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files

refactor: move ML runtime and storage to dedicated ml.db
  scripts/backfill_ml_predictions.py
  scripts/backfill_regime_states.py
  scripts/clear_ml_data.py
  scripts/generate_ml_training_data.py
  scripts/train_initial_ml_models.py
  sentinel/api/dependencies.py
  sentinel/api/routers/ml.py
  sentinel/api/routers/portfolio.py
  sentinel/api/routers/securities.py
  sentinel/app.py
  sentinel/database/__init__.py
  sentinel/database/base.py
  sentinel/database/main.py
  sentinel/database/ml.py
  sentinel/jobs/tasks.py
  sentinel/ml_ensemble.py
  sentinel/ml_monitor.py
  sentinel/ml_predictor.py
  sentinel/ml_reset.py
  sentinel/ml_retrainer.py
  sentinel/ml_trainer.py
  sentinel/planner/analyzer.py
  sentinel/planner/planner.py
  sentinel/planner/rebalance.py
  sentinel/regime_hmm.py
  sentinel/settings.py
  sentinel/snapshot_service.py
  sentinel/version.py
  web/dist/assets/index-CK-vY0bR.js
  web/dist/assets/index-DCiOmIMv.js
  web/dist/index.html
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files

test: update coverage for MLDatabase split and prune legacy suites
  sentinel/version.py
  tests/jobs/test_tasks.py
  tests/test_api_pnl_history.py
  tests/test_api_securities.py
  tests/test_as_of_date_pricing.py
  tests/test_database.py
  tests/test_ml_comprehensive.py
  tests/test_ml_database.py
  tests/test_ml_ensemble.py
  tests/test_ml_models.py
  tests/test_ml_monitor.py
  tests/test_ml_nn_architecture.py
  tests/test_ml_predictor.py
  tests/test_ml_reset.py
  tests/test_ml_retrainer.py
  tests/test_ml_trainer.py
  tests/test_planner_allocations_invested_only.py
  tests/test_planner_sizing_invested_only.py
  tests/test_regime_hmm.py
  tests/test_settings.py
Due: check-merge-conflict, check-large-files

feat(web): update unified and PnL chart views
  web/src/components/PortfolioPnLChart.jsx
  web/src/pages/UnifiedPage.jsx
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files

docs: refresh portfolio logic audit findings
  docs/audit_portfolio_logic_findings_2026-02-05.md
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files

chore(db): drop additional orphaned legacy tables in main schema migration
  sentinel/database/main.py
  sentinel/version.py
Due: check-merge-conflict, check-large-files

extract ML runtime into sentinel_ml service package
  scripts/backfill_ml_predictions.py
  scripts/backfill_regime_states.py
  scripts/clear_ml_data.py
  scripts/generate_ml_training_data.py
  scripts/train_initial_ml_models.py
  sentinel/database/__init__.py
  sentinel/ml_monitor.py
  sentinel/ml_reset.py
  sentinel/ml_trainer.py
  sentinel/regime_hmm.py
  sentinel/version.py
  sentinel_ml/__init__.py
  sentinel_ml/adapters.py
  sentinel_ml/api/__init__.py
  sentinel_ml/api/dependencies.py
  sentinel_ml/api/routers/__init__.py
  sentinel_ml/api/routers/analytics.py
  sentinel_ml/api/routers/jobs.py
  sentinel_ml/api/routers/ml.py
  sentinel_ml/api/routers/ui.py
  sentinel_ml/app.py
  sentinel_ml/clients/monolith_client.py
  sentinel_ml/database/__init__.py
  sentinel_ml/database/ml.py
  sentinel_ml/jobs/__init__.py
  sentinel_ml/jobs/runner.py
  sentinel_ml/jobs/tasks.py
  sentinel_ml/main.py
  sentinel_ml/ml_ensemble.py
  sentinel_ml/ml_features.py
  sentinel_ml/ml_predictor.py
  sentinel_ml/ml_retrainer.py
  sentinel_ml/paths.py
  sentinel_ml/regime_quote.py
  web/dist/assets/index-BOlBk8_h.js
  web/dist/assets/index-DQkLR349.js
  web/dist/index.html
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files

feat(tui): add persisted settings and updated UI bindings
  TUI/internal/api/client.go
  TUI/internal/config/settings.go
  TUI/internal/ui/keys.go
  TUI/internal/ui/model.go
  TUI/internal/ui/update.go
  TUI/internal/ui/view.go
  TUI/main.go
  TUI/settings.json.example
  sentinel/version.py
  web/dist/assets/index-BOlBk8_h.js
  web/dist/assets/index-DpzFtMe8.js
  web/dist/index.html
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

feat(web): add weighted prediction controls and configurable chart overlays
  web/package-lock.json
  web/package.json
  web/src/api/client.js
  web/src/components/PortfolioPnLChart.jsx
  web/src/components/PortfolioWeightControls.jsx
  web/src/components/PortfolioWeightControls.test.jsx
  web/src/pages/UnifiedPage.jsx
  web/src/test/setup.js
  web/src/utils/mlWeights.js
  web/src/utils/mlWeights.test.js
  web/vitest.config.js
Due: trailing-whitespace, end-of-file-fixer, check-json, check-merge-conflict, check-large-files

perf(planner): reuse precomputed signals and reduce rebalance query overhead
  sentinel/planner/allocation.py
  sentinel/planner/planner.py
  sentinel/planner/rebalance.py
  sentinel/planner/rebalance_cash.py
  sentinel/version.py
  tests/test_planner.py
Due: check-merge-conflict, check-large-files

chore(tui): default local api endpoint for desktop dev
  TUI/settings.json
Due: trailing-whitespace, end-of-file-fixer, check-json, check-merge-conflict, check-large-files

Move snapshot backfill to daily scheduled job
  sentinel/api/routers/portfolio.py
  sentinel/app.py
  sentinel/database/main.py
  sentinel/jobs/runner.py
  sentinel/jobs/tasks.py
  sentinel/version.py
  tests/test_api_pnl_history.py
Due: check-merge-conflict, check-large-files

Re-enable inactive securities on add
  sentinel/api/routers/securities.py
  sentinel/version.py
  tests/test_api_securities_add_http.py
Due: check-merge-conflict, check-large-files

UNO Q heatmap bridge via arduino-router + test fixes
  .gitignore
  firmware/neopixel_heatmap_router/neopixel_heatmap_router.ino
  scripts/uno_q_heatmap_router_server.py
  sentinel/api/routers/portfolio.py
  sentinel/led/arduino_router_rpc.py
  sentinel/led/heatmap_parts.py
  sentinel/led/msgpack_lite.py
  sentinel/version.py
  tests/jobs/test_job_schedules_db.py
  tests/jobs/test_runner.py
  tests/test_api_job_schedules.py
Due: check-merge-conflict, check-large-files

Rename Arduino App to sentinel
  arduino-app/sentinel/README.md
  arduino-app/sentinel/app.yaml
  arduino-app/sentinel/python/main.py
  arduino-app/sentinel/sketch/sketch.ino
  arduino-app/sentinel/sketch/sketch.yaml
  lefthook.yml
  scripts/auto-deploy.sh
  sentinel/version.py
Due: trailing-whitespace, end-of-file-fixer, check-yaml, check-merge-conflict, check-large-files

Use container gateway for Sentinel API URL
  arduino-app/sentinel/python/main.py
  sentinel/version.py
Due: check-merge-conflict, check-large-files

Prefer HOST_IP for Sentinel API in Arduino App
  arduino-app/sentinel/python/main.py
  sentinel/version.py
Due: check-merge-conflict, check-large-files

Fix auto-deploy to stop Arduino App by id
  scripts/auto-deploy.sh
  sentinel/version.py
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files

Strip exceptions/RTTI in UNO Q sketch build to avoid libstdc++ clash
  arduino-app/sentinel/sketch/sketch.yaml
  sentinel/version.py
Due: trailing-whitespace, end-of-file-fixer, check-yaml, check-merge-conflict, check-large-files

Fix sketch.yaml platform_flags YAML for UNO Q
  arduino-app/sentinel/sketch/sketch.yaml
  sentinel/version.py
Due: trailing-whitespace, end-of-file-fixer, check-yaml, check-merge-conflict, check-large-files

Force UNO Q sketch to drop libstdc++ (-nostdlib++)
  arduino-app/sentinel/sketch/sketch.yaml
  sentinel/version.py
Due: trailing-whitespace, end-of-file-fixer, check-yaml, check-merge-conflict, check-large-files

Force Arduino build flags via platform.local.txt for UNO Q
  arduino-app/sentinel/sketch/platform.local.txt
  sentinel/version.py
Due: check-merge-conflict, check-large-files

UNO Q: disable libstdc++ use and align MsgPack limits
  arduino-app/sentinel/sketch/sketch.ino
  sentinel/version.py
Due: check-merge-conflict, check-large-files

UNO Q: switch back to ARX msgpack with larger buffers
  arduino-app/sentinel/python/main.py
  arduino-app/sentinel/sketch/sketch.ino
  sentinel/version.py
Due: check-merge-conflict, check-large-files

Path conditions:
  trailing-whitespace: any of: *.{go,js,jsx,ts,tsx,json,yaml,yml,md,sh,sql,css,html}, but not: ^frontend/dist/|^node_modules/
  end-of-file-fixer: any of: *.{go,js,jsx,ts,tsx,json,yaml,yml,md,sh,sql,css,html}, but not: ^frontend/dist/|^node_modules/
  check-yaml: any of: *.{yaml,yml}
  check-json: any of: *.json, but not: ^node_modules/|^frontend/node_modules/
  check-toml: any of: *.toml
  check-merge-conflict: any of: *, but not: ^frontend/dist/|^node_modules/
  check-large-files: any of: *, but not: ^frontend/dist/|^node_modules/|^vendor/
  go-fmt: any of: *.go, but not: ^vendor/
  go-vet: any of: *.go, but not: ^vendor/
  go-mod-tidy: any of: *.go
  go-build: any of: *.go, but not: ^vendor/
  golangci-lint: any of: *.go, but not: ^vendor/
  build-frontend: any of: frontend/**/*.{js,jsx,ts,tsx,css,html,json}, but not: ^frontend/dist/|^frontend/node_modules/
  copy-embedded-files: any of: *.go
