Repository aristath/portfolioManager: changes, and which lefthook commands are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-yaml, check-json, check-toml, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, build-frontend, copy-embedded-files

Path conditions:
  trailing-whitespace: any of: *.{go,js,jsx,ts,tsx,json,yaml,yml,md,sh,sql,css,html}, but not: ^frontend/dist/|^node_modules/
  end-of-file-fixer: any of: *.{go,js,jsx,ts,tsx,json,yaml,yml,md,sh,sql,css,html}, but not: ^frontend/dist/|^node_modules/
  check-yaml: any of: *.{yaml,yml}
  check-json: any of: *.json, but not: ^node_modules/|^frontend/node_modules/
  check-toml: any of: *.toml
  check-merge-conflict: any of: *, but not: ^frontend/dist/|^node_modules/
  check-large-files: any of: *, but not: ^frontend/dist/|^node_modules/|^vendor/
  go-fmt: any of: *.go, but not: ^vendor/
  go-vet: any of: *.go, but not: ^vendor/
  go-mod-tidy: any of: *.go
  go-build: any of: *.go, but not: ^vendor/
  golangci-lint: any of: *.go, but not: ^vendor/
  build-frontend: any of: frontend/**/*.{js,jsx,ts,tsx,css,html,json}, but not: ^frontend/dist/|^frontend/node_modules/
  copy-embedded-files: any of: *.go

Fix comment formatting in config.go - convert /** */ to // style
  internal/config/config.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

bugfixes
  internal/modules/opportunities/calculators/rebalance_buys.go
  internal/modules/opportunities/calculators/rebalance_sells.go
  internal/modules/opportunities/tag_filter.go
  internal/modules/planning/planner/planner.go
  internal/work/processor.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

Initial commit
  README.md
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files

Cleanup
  .claude/settings.local.json
  .gitignore
  Dockerfile
  pyproject.toml
  sentinel/app.py
  sentinel/backtester.py
  sentinel/currency.py
  sentinel/database/__init__.py
  sentinel/database/base.py
  sentinel/database/main.py
  sentinel/database/simulation.py
  sentinel/entropy_optimizer.py
  sentinel/jobs/implementations/__init__.py
  sentinel/jobs/implementations/analytics.py
  sentinel/planner.py
  sentinel/portfolio_optimizer.py
  sentinel/settings.py
  sentinel/transfer_entropy.py
  sentinel/utils/__init__.py
  sentinel/utils/currency.py
  sentinel/utils/positions.py
  tests/jobs/test_implementations.py
  tests/jobs/test_scheduler.py
  tests/test_api_job_schedules.py
  uv.lock
  verify_advanced_analytics.py
  web/src/components/SettingsModal.jsx
Due: trailing-whitespace, end-of-file-fixer, check-json, check-toml, check-merge-conflict, check-large-files

bugfixes, cleanup, R2
  .claude/settings.local.json
  .gitignore
  Dockerfile
  docker-compose.yml
  pyproject.toml
  sentinel/app.py
  sentinel/correlation_cleaner.py
  sentinel/database/main.py
  sentinel/jobs/events.py
  sentinel/jobs/implementations/__init__.py
  sentinel/jobs/implementations/analytics.py
  sentinel/jobs/implementations/backup.py
  sentinel/settings.py
  tests/jobs/test_backup.py
  tests/jobs/test_implementations.py
  tests/test_api_job_schedules.py
  uv.lock
  web/src/api/client.js
  web/src/components/MarketsOpenCard.jsx
  web/src/components/SettingsModal.jsx
  web/src/pages/UnifiedPage.jsx
Due: trailing-whitespace, end-of-file-fixer, check-yaml, check-json, check-toml, check-merge-conflict, check-large-files

auto-deploy script
  scripts/auto-deploy.sh
  systemd/sentinel-deploy.service
  systemd/sentinel-deploy.timer
  systemd/sentinel.service
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files

auto-deploy now handles the LED matrix too
  scripts/auto-deploy.sh
  scripts/deploy-led-app.sh
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files

commit frontend files
  .gitignore
  web/dist/assets/index-BLlUIBts.css
  web/dist/assets/index-DKV-c3bA.js
  web/dist/index.html
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files

configurable path for db + ML
  sentinel/app.py
  sentinel/database/main.py
  sentinel/ml_ensemble.py
  sentinel/ml_trainer.py
  sentinel/paths.py
Due: check-merge-conflict, check-large-files

bugfixes
  sentinel/broker.py
  sentinel/currency_exchange.py
Due: check-merge-conflict, check-large-files

Add version
  .claude/settings.local.json
  .gitignore
  lefthook.yml
  scripts/generate-version.sh
  sentinel/app.py
  sentinel/version.py
Due: trailing-whitespace, end-of-file-fixer, check-yaml, check-json, check-merge-conflict, check-large-files

add version number to the frontend
  lefthook.yml
  sentinel/version.py
  web/dist/assets/index-C5tRMOCc.js
  web/dist/assets/index-DKV-c3bA.js
  web/dist/index.html
  web/src/App.jsx
  web/src/api/client.js
Due: trailing-whitespace, end-of-file-fixer, check-yaml, check-merge-conflict, check-large-files

Fix DATA_DIR to use project-relative path
  scripts/train_initial_ml_models.py
  sentinel/paths.py
  sentinel/version.py
Due: check-merge-conflict, check-large-files

Add trades history sync from Tradernet broker
  sentinel/app.py
  sentinel/backtester.py
  sentinel/broker.py
  sentinel/database/base.py
  sentinel/database/main.py
  sentinel/jobs/runner.py
  sentinel/jobs/tasks.py
  sentinel/security.py
  sentinel/version.py
  tests/jobs/test_job_schedules_db.py
  tests/test_api_job_schedules.py
  tests/test_database.py
  tests/test_security.py
  tests/test_trades.py
  uv.lock
  web/dist/assets/index-B5O6K9F-.js
  web/dist/assets/index-Lq_RDrkS.js
  web/dist/index.html
  web/src/App.jsx
  web/src/api/client.js
  web/src/components/TradesModal.jsx
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files

Fix SyncScheduler import error in main.py
  main.py
  sentinel/version.py
Due: check-merge-conflict, check-large-files

Remove debug logging
  sentinel/broker.py
Due: check-merge-conflict, check-large-files

Add Reset & Retrain button with progress tracking
  lefthook.yml
  sentinel/app.py
  sentinel/ml_reset.py
  sentinel/ml_retrainer.py
  sentinel/version.py
  tests/test_api_ml_reset.py
  tests/test_ml_reset.py
  web/dist/assets/index-B5O6K9F-.js
  web/dist/assets/index-BLlUIBts.css
  web/dist/assets/index-BbwNdZuY.js
  web/dist/assets/index-Doi146yq.css
  web/dist/index.html
  web/package-lock.json
  web/package.json
  web/src/App.jsx
  web/src/api/client.js
  web/src/main.jsx
Due: trailing-whitespace, end-of-file-fixer, check-yaml, check-json, check-merge-conflict, check-large-files

Fix trade type comparison - API returns strings not integers
  sentinel/broker.py
  sentinel/version.py
  tests/test_trades.py
Due: check-merge-conflict, check-large-files

Add cash flows tracking with deposits, withdrawals, dividends display
  scripts/test_cashflows.py
  sentinel/app.py
  sentinel/broker.py
  sentinel/database/base.py
  sentinel/database/main.py
  sentinel/jobs/runner.py
  sentinel/jobs/tasks.py
  sentinel/version.py
  tests/jobs/test_job_schedules_db.py
  tests/test_api_job_schedules.py
  web/dist/assets/index-BWDVC4IR.js
  web/dist/assets/index-BbwNdZuY.js
  web/dist/index.html
  web/src/api/client.js
  web/src/pages/UnifiedPage.jsx
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files

Add portfolio history graph
  sentinel/app.py
  sentinel/currency.py
  sentinel/database/base.py
  sentinel/database/main.py
  sentinel/version.py
  web/dist/assets/index-0EdT7-6w.js
  web/dist/assets/index-BWDVC4IR.js
  web/dist/index.html
  web/src/api/client.js
  web/src/components/PortfolioPnLChart.jsx
  web/src/pages/UnifiedPage.jsx
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files

Add editable simulated cash for research mode
  sentinel/planner.py
  sentinel/portfolio.py
  sentinel/settings.py
  sentinel/version.py
  tests/test_planner.py
  tests/test_portfolio_simulated_cash.py
  tests/test_settings.py
  web/dist/assets/index-BWJ6WPbe.js
  web/dist/assets/index-vnpzpT0k.js
  web/dist/index.html
  web/src/pages/UnifiedPage.jsx
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files

Cache feature extraction results with 24h TTL
  sentinel/jobs/tasks.py
  sentinel/planner.py
  sentinel/version.py
  tests/test_api_ml_reset.py
  tests/test_planner.py
  tests/test_tasks.py
Due: check-merge-conflict, check-large-files

Add dividend reinvestment tracking and planner score boost
  sentinel/broker.py
  sentinel/database/base.py
  sentinel/database/main.py
  sentinel/jobs/runner.py
  sentinel/jobs/tasks.py
  sentinel/planner.py
  sentinel/settings.py
  sentinel/version.py
  tests/jobs/test_job_schedules_db.py
  tests/test_api_job_schedules.py
Due: check-merge-conflict, check-large-files

Fix logic bugs and calculation errors
  sentinel/aggregates.py
  sentinel/currency_exchange.py
  sentinel/ml_predictor.py
  sentinel/security.py
  sentinel/version.py
Due: check-merge-conflict, check-large-files

Add .worktrees/ to gitignore
  .gitignore
  sentinel/version.py
Due: check-merge-conflict, check-large-files

Listen on dual-stack (IPv4+IPv6) by default
  main.py
  sentinel/version.py
Due: check-merge-conflict, check-large-files

refactor(api): extract portfolio, allocation, and targets routers
  docs/10_year_autonomous_operation_analysis.md
  docs/architectural_review.md
  docs/code_cleanup_analysis.md
  docs/expected_return_analysis.md
  docs/refactoring_plan.md
  sentinel/api/routers/__init__.py
  sentinel/api/routers/portfolio.py
  sentinel/app.py
  sentinel/version.py
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files

chore: upgrade TUI to Charm v2 (bubbletea, lipgloss, bubbles)
  TUI/go.mod
  TUI/go.sum
  TUI/internal/theme/theme.go
  TUI/internal/ui/chart.go
  TUI/internal/ui/keys.go
  TUI/internal/ui/model.go
  TUI/internal/ui/update.go
  TUI/internal/ui/view.go
  TUI/main.go
  sentinel/version.py
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

Update tests/test_currency.py
  tests/test_currency.py
Due: check-merge-conflict, check-large-files

fix(api): soft-delete securities to preserve historical prices and trades
  sentinel/api/routers/securities.py
  sentinel/version.py
Due: check-merge-conflict, check-large-files

update(docs): refine AGENTS.md with corrections
  AGENTS.md
  sentinel/version.py
  web/dist/assets/index-BWJ6WPbe.js
  web/dist/assets/index-PFvkruvH.js
  web/dist/index.html
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files

fix(db): store trades executed_at as unix timestamp
  sentinel/jobs/tasks.py
  sentinel/planner/rebalance.py
  sentinel/version.py
  tests/test_trades.py
Due: check-merge-conflict, check-large-files

style(test): use double quotes in test_currency clear_singletons
  tests/test_currency.py
Due: check-merge-conflict, check-large-files

feat(analyzer): analyze_prices and use_regime for backfill
  sentinel/analyzer.py
Due: check-merge-conflict, check-large-files

fix(api): latest score per symbol with historical scores table
  sentinel/api/routers/securities.py
Due: check-merge-conflict, check-large-files

feat(scripts): add backfill_scores and tests for historical scores
  scripts/backfill_scores.py
  tests/test_analyzer.py
  tests/test_api_securities.py
  tests/test_database.py
  tests/test_security.py
Due: check-merge-conflict, check-large-files

docs: ML historical predictions investigation
  docs/ML_HISTORICAL_INVESTIGATION.md
  sentinel/version.py
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files
