Repository aristath/portfolioManager: changes, and which lefthook commands are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-yaml, check-json, check-toml, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, build-frontend, copy-embedded-files

Path conditions:
  trailing-whitespace: any of: *.{go,js,jsx,ts,tsx,json,yaml,yml,md,sh,sql,css,html}, but not: ^frontend/dist/|^node_modules/
  end-of-file-fixer: any of: *.{go,js,jsx,ts,tsx,json,yaml,yml,md,sh,sql,css,html}, but not: ^frontend/dist/|^node_modules/
  check-yaml: any of: *.{yaml,yml}
  check-json: any of: *.json, but not: ^node_modules/|^frontend/node_modules/
  check-toml: any of: *.toml
  check-merge-conflict: any of: *, but not: ^frontend/dist/|^node_modules/
  check-large-files: any of: *, but not: ^frontend/dist/|^node_modules/|^vendor/
  go-fmt: any of: *.go, but not: ^vendor/
  go-vet: any of: *.go, but not: ^vendor/
  go-mod-tidy: any of: *.go
  go-build: any of: *.go, but not: ^vendor/
  golangci-lint: any of: *.go, but not: ^vendor/
  build-frontend: any of: frontend/**/*.{js,jsx,ts,tsx,css,html,json}, but not: ^frontend/dist/|^frontend/node_modules/
  copy-embedded-files: any of: *.go

refactor: Tradernet as single source of truth for all prices
  internal/clients/tradernet/adapter.go
  internal/clients/tradernet/adapter_test.go
  internal/clients/tradernet/client.go
  internal/clients/tradernet/client_sdk_test.go
  internal/clients/tradernet/sdk_client.go
  internal/clients/tradernet/transformers.go
  internal/clients/tradernet/transformers_domain.go
  internal/di/services.go
  internal/domain/broker_client_test.go
  internal/domain/broker_types.go
  internal/domain/interfaces.go
  internal/domain/interfaces_test.go
  internal/modules/optimization/handlers/handlers.go
  internal/modules/portfolio/service.go
  internal/modules/portfolio/service_test.go
  internal/modules/rebalancing/service.go
  internal/modules/trading/service_test.go
  internal/modules/universe/historical_sync.go
  internal/modules/universe/sync_service.go
  internal/services/currency_exchange_service_test.go
  internal/services/price_validator.go
  internal/services/price_validator_test.go
  internal/services/trade_execution_service.go
  internal/services/trade_execution_service_test.go
  internal/services/yahoo_price_adapter.go
  internal/testing/mocks.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

refactor: Unified OpportunityContextBuilder for consistent context creation
  internal/di/jobs.go
  internal/di/services.go
  internal/di/types.go
  internal/modules/opportunities/handlers/handlers.go
  internal/modules/opportunities/handlers/handlers_test.go
  internal/modules/opportunities/handlers/routes_test.go
  internal/modules/rebalancing/handlers/handlers_test.go
  internal/modules/rebalancing/service.go
  internal/modules/rebalancing/service_test.go
  internal/scheduler/build_opportunity_context.go
  internal/scheduler/build_opportunity_context_test.go
  internal/scheduler/integration_test.go
  internal/server/server.go
  internal/services/opportunity_context_builder.go
  internal/services/opportunity_context_builder_interfaces.go
  internal/services/opportunity_context_builder_test.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

chore: remove migration file after applying to production
  internal/modules/opportunities/tag_filter_test.go
  migrations/migrate_universe_alphavantage.sql
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

fix: Fix linting and staticcheck warnings
  internal/clients/alphavantage/client_test.go
  internal/clients/alphavantage/technicals_test.go
  internal/clients/alphavantage/time_series.go
  internal/clients/openfigi/client.go
  internal/clients/openfigi/client_test.go
  internal/modules/evaluation/scoring.go
  internal/modules/universe/security_setup_service.go
  internal/modules/universe/tag_assigner.go
  internal/scheduler/build_opportunity_context.go
  internal/scheduler/integration_test.go
  internal/services/data_fetcher_test.go
  internal/utils/temperament_config.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

fix: Fix tradernet SDK price alert tests - add test keys
  internal/clients/tradernet/sdk/methods_new_test.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

fix: Fix TestGetPriceAlerts - add test keys (TestAddPriceAlert and TestDeletePriceAlert already fixed)
  internal/clients/tradernet/sdk/methods_new_test.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

fix: Fix all tradernet SDK tests - add test keys to all NewClient calls
  internal/clients/tradernet/sdk/methods_new_test.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

fix: Disable SA1019 check in staticcheck workflow (deprecated StocksBySymbol field kept for backward compatibility)
  .github/workflows/go-format.yml
  internal/modules/evaluation/scoring.go
Due: trailing-whitespace, end-of-file-fixer, check-yaml, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

feat(alphavantage): add multi-key rotation to bypass rate limits
  frontend/dist/assets/index-C1CDNMcs.js
  frontend/dist/assets/index-DRDFdPwz.js
  frontend/dist/index.html
  frontend/src/components/modals/SettingsModal.jsx
  internal/clients/alphavantage/client.go
  internal/clients/alphavantage/client_test.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, build-frontend, copy-embedded-files

fix: Remove Node.js setup from Lefthook Checks workflow
  .github/workflows/pre-commit.yml
Due: trailing-whitespace, end-of-file-fixer, check-yaml, check-merge-conflict, check-large-files

fix(r2): Fix R2 cloud backup - initialize services and fix AWS SDK endpoint
  internal/di/services.go
  internal/reliability/r2_client.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

refactor(display): Replace Python app with direct MCU communication
  display/app.yaml
  display/app/main.py
  display/app/requirements.txt
  go.mod
  go.sum
  internal/deployment/display_app_deployer.go
  internal/deployment/manager.go
  internal/deployment/sketch.go
  internal/di/services.go
  internal/di/types.go
  internal/mcu/client.go
  internal/mcu/methods.go
  internal/mcu/protocol.go
  internal/modules/display/state_manager.go
  internal/version/version.go
  pkg/embedded/embedded.go
Due: trailing-whitespace, end-of-file-fixer, check-yaml, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

feat(planning): Track pre-filtered securities throughout planning pipeline
  frontend/dist/assets/index-C1CDNMcs.js
  frontend/dist/assets/index-FpYOum7Z.js
  frontend/dist/index.html
  frontend/src/api/client.js
  frontend/src/components/modals/SettingsModal.jsx
  frontend/src/components/portfolio/NextActionsCard.jsx
  internal/mcu/client.go
  internal/mcu/protocol.go
  internal/modules/opportunities/calculators/averaging_down.go
  internal/modules/opportunities/calculators/averaging_down_test.go
  internal/modules/opportunities/calculators/base.go
  internal/modules/opportunities/calculators/base_test.go
  internal/modules/opportunities/calculators/opportunity_buys.go
  internal/modules/opportunities/calculators/profit_taking.go
  internal/modules/opportunities/calculators/profit_taking_test.go
  internal/modules/opportunities/calculators/rebalance_buys.go
  internal/modules/opportunities/calculators/rebalance_sells.go
  internal/modules/opportunities/calculators/rebalance_sells_test.go
  internal/modules/opportunities/calculators/registry.go
  internal/modules/opportunities/calculators/weight_based.go
  internal/modules/opportunities/calculators/weight_based_test.go
  internal/modules/opportunities/service.go
  internal/modules/planning/domain/models.go
  internal/modules/planning/domain/models_test.go
  internal/modules/planning/in_memory_recommendation_repository.go
  internal/modules/planning/planner/planner.go
  internal/modules/planning/recommendation_repository.go
  internal/modules/planning/recommendation_repository_interface.go
  internal/scheduler/create_trade_plan.go
  internal/scheduler/interfaces.go
  internal/scheduler/planner_batch.go
  internal/scheduler/store_recommendations.go
  internal/scheduler/store_recommendations_test.go
  internal/scheduler/store_recommendations_typed_test.go
  internal/server/server.go
  internal/server/system_handlers.go
  internal/ticker/ticker_content_service.go
  internal/ticker/ticker_content_service_test.go
  internal/version/version.go
  scripts/convert_docs_to_markdown/main.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, build-frontend, copy-embedded-files

refactor(allocation): Preserve raw weights, normalize at point of use
  internal/modules/allocation/group_allocation.go
  internal/modules/allocation/normalize.go
  internal/modules/allocation/normalize_test.go
  internal/modules/allocation/repository.go
  internal/modules/optimization/constraints.go
  internal/modules/optimization/handlers/handlers.go
  internal/modules/optimization/models.go
  internal/scheduler/get_optimizer_weights.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

fix(planning): Return pre-filtered securities even when no recommendations
  internal/modules/planning/in_memory_recommendation_repository.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

refactor(planning): Remove dead IncrementalPlanner code
  docs/api/planning/POST-api-planning-batch.md
  frontend/src/api/client.js
  frontend/src/components/portfolio/NextActionsCard.jsx
  frontend/src/stores/appStore.js
  internal/modules/planning/handlers/batch.go
  internal/modules/planning/handlers/routes.go
  internal/modules/planning/handlers/routes_test.go
  internal/modules/planning/handlers/status.go
  internal/modules/planning/planner/incremental.go
  internal/modules/planning/repository/in_memory_planner_repository.go
  internal/modules/planning/repository/planner_repository.go
  internal/modules/planning/repository/planner_repository_interface.go
  internal/server/server.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, build-frontend, copy-embedded-files

close db
  internal/di/wire.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

fix: add missing package comments and fix DefaultDisplayURL comment format
  internal/deployment/sketch.go
  internal/modules/display/state_manager.go
  internal/modules/planning/handlers/config.go
  internal/modules/planning/planner/planner.go
  internal/version/version.go
  pkg/embedded/embedded.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

Align App Lab python path to python/main.py
  display/python/main.py
  internal/deployment/sketch.go
  internal/version/version.go
  pkg/embedded/embedded.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

Add disable cooloff checks toggle for research mode testing
  frontend/dist/assets/index-9JWEMDod.js
  frontend/dist/assets/index-BH9joWCp.js
  frontend/dist/index.html
  frontend/src/views/NextActions.jsx
  internal/di/services.go
  internal/modules/settings/models.go
  internal/services/opportunity_context_builder.go
  internal/services/opportunity_context_builder_interfaces.go
  internal/services/opportunity_context_builder_test.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, build-frontend, copy-embedded-files

fix: remove ArduinoGraphics dependency from display sketch
  display/python/main.py
  display/sketch/sketch.ino
  display/sketch/sketch.yaml
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-yaml, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

fix: correct LED matrix data format per Uno Q documentation
  display/python/main.py
  display/sketch/sketch.ino
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

fix: move main.py from display/python to display/app
  display/app/main.py
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

Revert "fix: move main.py from display/python to display/app"
  display/python/main.py
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

Add portfolio health display visualization system
  display/python/main.py
  display/sketch/sketch.ino
  docs/PORTFOLIO_HEALTH_DISPLAY.md
  internal/di/services.go
  internal/di/types.go
  internal/modules/display/handlers/handlers.go
  internal/modules/display/handlers/routes.go
  internal/modules/display/handlers/routes_test.go
  internal/modules/display/health_calculator.go
  internal/modules/display/health_updater.go
  internal/modules/display/mode_manager.go
  internal/modules/settings/models.go
  internal/server/server.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

Embed database schema files in binary
  internal/database/db.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

Make all tag assignment thresholds configurable via temperament system
  README.md
  internal/di/services.go
  internal/modules/settings/service_temperament.go
  internal/modules/settings/service_temperament_test.go
  internal/modules/settings/temperament_types.go
  internal/modules/universe/tag_assigner.go
  internal/modules/universe/tag_assigner_test.go
  internal/utils/temperament_config.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

Replace in-memory cache with persistent client_data.db caching in Alpha Vantage client
  internal/clientdata/repository.go
  internal/clientdata/repository_test.go
  internal/clientdata/ttl.go
  internal/clients/alphavantage/client.go
  internal/clients/alphavantage/client_test.go
  internal/clients/alphavantage/commodities.go
  internal/clients/alphavantage/commodities_test.go
  internal/clients/alphavantage/crypto.go
  internal/clients/alphavantage/crypto_test.go
  internal/clients/alphavantage/economic.go
  internal/clients/alphavantage/economic_test.go
  internal/clients/alphavantage/forex.go
  internal/clients/alphavantage/forex_test.go
  internal/clients/alphavantage/fundamentals.go
  internal/clients/alphavantage/fundamentals_test.go
  internal/clients/alphavantage/integration_test.go
  internal/clients/alphavantage/intelligence.go
  internal/clients/alphavantage/intelligence_test.go
  internal/clients/alphavantage/options.go
  internal/clients/alphavantage/options_test.go
  internal/clients/alphavantage/technicals.go
  internal/clients/alphavantage/technicals_test.go
  internal/clients/alphavantage/time_series.go
  internal/clients/alphavantage/time_series_test.go
  internal/database/schemas/client_data_schema.sql
  internal/di/services.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

feat: Add broker symbol mapping system
  internal/database/schemas/universe_schema.sql
  internal/di/repositories.go
  internal/di/services.go
  internal/di/types.go
  internal/domain/interfaces.go
  internal/modules/universe/broker_symbol_repository.go
  internal/modules/universe/broker_symbol_repository_test.go
  internal/services/broker_symbol_mapper.go
  internal/services/broker_symbol_mapper_test.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

refactor: Rename broker symbol mapping to client symbol mapping
  internal/database/schemas/universe_schema.sql
  internal/di/repositories.go
  internal/di/services.go
  internal/di/types.go
  internal/domain/interfaces.go
  internal/modules/universe/broker_symbol_repository.go
  internal/modules/universe/client_symbol_repository.go
  internal/modules/universe/client_symbol_repository_test.go
  internal/services/broker_symbol_mapper.go
  internal/services/broker_symbol_mapper_test.go
  internal/services/client_symbol_mapper.go
  internal/services/client_symbol_mapper_test.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

Add Alpha Vantage symbol search functionality to security modal
  frontend/dist/assets/index-8ozuky5b.js
  frontend/dist/assets/index-DqAXCdyQ.js
  frontend/dist/index.html
  frontend/src/api/__tests__/client.test.js
  frontend/src/api/client.js
  frontend/src/components/modals/AlphaVantageSearchModal.jsx
  frontend/src/components/modals/EditSecurityModal.jsx
  frontend/src/components/modals/PlannerManagementModal.jsx
  frontend/src/components/portfolio/GroupingManager.jsx
  frontend/src/components/system/LogsViewer.jsx
  frontend/src/stores/eventHandlers.js
  frontend/src/test/setup.js
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, build-frontend, copy-embedded-files

fix: Remove unused adapter types causing linter failures
  internal/di/services.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

feat: Implement per-region market regime detection
  cmd/server/main.go
  internal/database/schemas/config_schema.sql
  internal/database/schemas/universe_schema.sql
  internal/di/services.go
  internal/di/types.go
  internal/market_regime/adapter.go
  internal/market_regime/detector.go
  internal/market_regime/detector_region_test.go
  internal/market_regime/index_discovery.go
  internal/market_regime/index_discovery_test.go
  internal/market_regime/index_repository.go
  internal/market_regime/index_repository_test.go
  internal/market_regime/index_service.go
  internal/market_regime/index_service_integration_test.go
  internal/market_regime/index_sync_service.go
  internal/market_regime/index_sync_service_test.go
  internal/market_regime/persistence.go
  internal/market_regime/persistence_region_test.go
  internal/market_regime/persistence_test.go
  internal/market_regime/region_mapper.go
  internal/market_regime/region_mapper_test.go
  internal/modules/opportunities/tag_filter_test.go
  internal/modules/optimization/risk.go
  internal/modules/scoring/scorers/security.go
  internal/modules/universe/handlers/handlers.go
  internal/modules/universe/metadata_enricher.go
  internal/modules/universe/metadata_enricher_test.go
  internal/modules/universe/models.go
  internal/modules/universe/security_repository.go
  internal/modules/universe/security_repository_isin_test.go
  internal/modules/universe/security_repository_market_code_test.go
  internal/modules/universe/security_repository_tags_test.go
  internal/modules/universe/tag_assigner.go
  internal/scheduler/adaptive_market_job.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

feat: Add SecurityDeletionService for hard deletion of securities
  internal/di/services.go
  internal/di/types.go
  internal/modules/universe/handlers/handlers.go
  internal/modules/universe/handlers/routes_test.go
  internal/modules/universe/historical_sync.go
  internal/modules/universe/history_db.go
  internal/modules/universe/interfaces.go
  internal/modules/universe/security_deletion_service.go
  internal/modules/universe/security_deletion_service_test.go
  internal/modules/universe/security_repository.go
  internal/server/server.go
  internal/testing/mocks.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

fix: Migrate WebSocket client to nhooyr.io/websocket
  go.mod
  go.sum
  internal/clients/tradernet/websocket_client.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files
