Repository aristath/portfolioManager: changes, and which lefthook commands are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-yaml, check-json, check-toml, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, build-frontend, copy-embedded-files

trailing-whitespace:
  run: "for file in {staged_files}; do\n  if [ -f \"$file\" ]; then\n    # Remove trailing whitespace\n    if [[ \"$OSTYPE\" == \"darwin\"* ]]; then\n      sed -i '' 's/[[:space:]]*$//' \"$file\"\n    else\n      sed -i 's/[[:space:]]*$//' \"$file\"\n    fi\n  fi\ndone\n"
  stage_fixed: true

end-of-file-fixer:
  run: "for file in {staged_files}; do\n  if [ -f \"$file\" ] && [ -s \"$file\" ]; then\n    # Ensure file ends with newline\n    if [ \"$(tail -c 1 \"$file\" | wc -l)\" -eq 0 ]; then\n      echo \"\" >> \"$file\"\n    fi\n  fi\ndone\n"
  stage_fixed: true

check-yaml:
  run: "for file in {staged_files}; do\n  if command -v python3 &> /dev/null; then\n    python3 -c \"import yaml; yaml.safe_load(open('$file'))\" || exit 1\n  elif command -v yq &> /dev/null; then\n    yq e '.' \"$file\" > /dev/null || exit 1\n  fi\ndone\n"

check-json:
  run: "for file in {staged_files}; do\n  if command -v python3 &> /dev/null; then\n    python3 -c \"import json; json.load(open('$file'))\" || exit 1\n  elif command -v jq &> /dev/null; then\n    jq empty \"$file\" || exit 1\n  fi\ndone\n"

check-toml:
  run: "for file in {staged_files}; do\n  if command -v python3 &> /dev/null; then\n    python3 -c \"import tomllib; tomllib.load(open('$file', 'rb'))\" 2>/dev/null || \\\n    python3 -c \"import toml; toml.load('$file')\" || exit 1\n  fi\ndone\n"

check-merge-conflict:
  run: "for file in {staged_files}; do\n  if [ -f \"$file\" ]; then\n    if grep -qE '^(<<<<<<<|=======|>>>>>>>)' \"$file\" 2>/dev/null; then\n      echo \"❌ Merge conflict markers found in: $file\"\n      exit 1\n    fi\n  fi\ndone\n"

check-large-files:
  run: "MAX_SIZE=1048576  # 1MB in bytes\nfor file in {staged_files}; do\n  if [ -f \"$file\" ]; then\n    size=$(wc -c < \"$file\" | tr -d ' ')\n    if [ \"$size\" -gt \"$MAX_SIZE\" ]; then\n      echo \"❌ File too large (>1MB): $file ($size bytes)\"\n      exit 1\n    fi\n  fi\ndone\n"

go-fmt:
  run: gofmt -w {staged_files}
  stage_fixed: true

go-vet:
  run: go vet ./...

go-mod-tidy:
  run: "go mod tidy\nif ! git diff --quiet go.mod go.sum 2>/dev/null; then\n  git add go.mod go.sum\n  echo \"✓ go.mod/go.sum updated and staged\"\nfi\n"
  stage_fixed: true

go-build:
  run: go build ./...

golangci-lint:
  run: golangci-lint run --timeout=5m --config .golangci.yml ./...

build-frontend:
  run: "# Check if any frontend source files are staged\nSTAGED=$(git diff --cached --name-only --diff-filter=ACM | grep -E '^frontend/' | grep -vE '^frontend/(dist|node_modules)/' || true)\nif [ -z \"$STAGED\" ]; then\n  exit 0\nfi\n\necho \"Frontend source files changed, building...\"\ncd frontend\n
  ...

copy-embedded-files:
  run: 'mkdir -p pkg/embedded/frontend pkg/embedded/display
  
    cp -r frontend/dist pkg/embedded/frontend/ 2>/dev/null || true
  
    cp -r display/app pkg/embedded/display/ 2>/dev/null || true
  
    cp display/app.yaml pkg/embedded/display/ 2>/dev/null || true
  
  ...

feat: Implement unified idle-time processing system
  cmd/server/main.go
  internal/database/db.go
  internal/database/schemas/calculations_schema.sql
  internal/di/databases.go
  internal/di/jobs.go
  internal/di/services.go
  internal/di/types.go
  internal/modules/calculations/cache.go
  internal/modules/calculations/cache_test.go
  internal/modules/calculations/idle_processor.go
  internal/modules/calculations/idle_processor_test.go
  internal/modules/calculations/sync_processor.go
  internal/modules/calculations/sync_processor_test.go
  internal/modules/calculations/tag_processor.go
  internal/modules/calculations/tag_processor_test.go
  internal/modules/calculations/technical.go
  internal/modules/calculations/technical_test.go
  internal/modules/optimization/risk.go
  internal/modules/scoring/cache/technical.go
  internal/modules/scoring/cache/technical_test.go
  internal/queue/listeners.go
  internal/queue/scheduler.go
  internal/queue/types.go
  internal/scheduler/calculation_cleanup.go
  internal/scheduler/tag_update.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

fix: Only show geographies/industries from active securities
  frontend/dist/assets/index-Cgzgp69W.js
  frontend/dist/assets/index-CoItfkEh.js
  frontend/dist/index.html
  frontend/src/stores/portfolioStore.js
  internal/modules/allocation/repository.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, build-frontend, copy-embedded-files

feat: Filter indices from security universe and processes
  internal/domain/models.go
  internal/market_regime/index_service.go
  internal/market_regime/index_sync_service.go
  internal/modules/allocation/repository.go
  internal/modules/allocation/repository_test.go
  internal/modules/charts/service.go
  internal/modules/charts/service_test.go
  internal/modules/portfolio/service.go
  internal/modules/portfolio/service_test.go
  internal/modules/universe/product_type.go
  internal/modules/universe/product_type_test.go
  internal/modules/universe/security_repository.go
  internal/modules/universe/security_repository_index_filter_test.go
  internal/modules/universe/security_setup_service.go
  internal/modules/universe/security_setup_service_test.go
  internal/server/system_handlers.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

refactor: Change diversification from driver to guardrail
  internal/evaluation/scoring.go
  internal/evaluation/scoring_temperament_test.go
  internal/modules/evaluation/scoring_test.go
  internal/modules/opportunities/calculators/averaging_down.go
  internal/modules/opportunities/calculators/opportunity_buys.go
  internal/modules/opportunities/calculators/profit_taking.go
  internal/modules/opportunities/calculators/rebalance_buys.go
  internal/modules/opportunities/calculators/types.go
  internal/modules/scoring/scorers/concentration.go
  internal/modules/scoring/scorers/concentration_test.go
  internal/modules/scoring/scorers/diversification.go
  internal/modules/scoring/scorers/diversification_test.go
  internal/modules/scoring/scorers/security.go
  internal/modules/settings/temperament_types.go
  internal/modules/universe/tag_assigner.go
  internal/modules/universe/tag_assigner_temperament.go
  internal/modules/universe/tag_assigner_temperament_test.go
  internal/modules/universe/tag_assigner_test.go
  internal/utils/temperament_config.go
  internal/utils/temperament_config_test.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

style: Add BEM class names to all frontend components
  frontend/dist/assets/index-BEpJkq_6.js
  frontend/dist/assets/index-CAQlyiK1.js
  frontend/dist/index.html
  frontend/src/components/ErrorBoundary.jsx
  frontend/src/components/charts/AllocationRadar.jsx
  frontend/src/components/charts/GeoChart.jsx
  frontend/src/components/charts/GeographyRadarCard.jsx
  frontend/src/components/charts/IndustryChart.jsx
  frontend/src/components/charts/IndustryRadarCard.jsx
  frontend/src/components/charts/RadarChart.jsx
  frontend/src/components/charts/SecurityChart.jsx
  frontend/src/components/charts/SecuritySparkline.jsx
  frontend/src/components/layout/AppHeader.jsx
  frontend/src/components/layout/JobFooter.jsx
  frontend/src/components/layout/Layout.jsx
  frontend/src/components/layout/MarketStatus.jsx
  frontend/src/components/layout/StatusBar.jsx
  frontend/src/components/layout/TabNavigation.jsx
  frontend/src/components/modals/AddSecurityModal.jsx
  frontend/src/components/modals/EditSecurityModal.jsx
  frontend/src/components/modals/PlannerManagementModal.jsx
  frontend/src/components/modals/R2BackupModal.jsx
  frontend/src/components/modals/SecurityChartModal.jsx
  frontend/src/components/modals/SettingsModal.jsx
  frontend/src/components/portfolio/ConcentrationAlerts.jsx
  frontend/src/components/portfolio/NextActionsCard.jsx
  frontend/src/components/portfolio/SecurityTable.jsx
  frontend/src/components/system/LogsViewer.jsx
  frontend/src/components/trading/TradesTable.jsx
  frontend/src/views/Diversification.jsx
  frontend/src/views/Logs.jsx
  frontend/src/views/NextActions.jsx
  frontend/src/views/RecentTrades.jsx
  frontend/src/views/SecurityUniverse.jsx
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, build-frontend, copy-embedded-files

refactor: Make security addition async to prevent frontend timeout
  internal/modules/universe/security_setup_service.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

fix: Implement component-level OHLC validation with selective interpolation
  internal/clients/tradernet/transformers.go
  internal/clients/tradernet/transformers_validation_test.go
  internal/modules/universe/price_validator.go
  internal/modules/universe/price_validator_test.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

refactor: Remove legacy external data integration remnants
  CLAUDE.md
  docs/api/securities/GET-api-securities.md
  docs/api/securities/POST-api-securities.md
  frontend/dist/assets/index-BhwhCMZy.js
  frontend/dist/assets/index-UAKPz__Z.js
  frontend/dist/index.html
  frontend/src/components/modals/EditSecurityModal.jsx
  internal/market_regime/index_service.go
  internal/market_regime/index_service_integration_test.go
  internal/market_regime/index_service_test.go
  internal/modules/optimization/kelly_sizer.go
  internal/modules/planning/in_memory_recommendation_repository.go
  internal/modules/planning/recommendation_repository.go
  internal/modules/planning/recommendation_repository_interface.go
  internal/modules/planning/recommendation_repository_test.go
  internal/modules/portfolio/history_repository.go
  internal/modules/universe/handlers/routes.go
  internal/modules/universe/historical_sync_test.go
  internal/modules/universe/security_setup_service.go
  internal/modules/universe/security_setup_service_test.go
  internal/modules/universe/service_test.go
  internal/modules/universe/sync_service_test.go
  internal/scheduler/adapters.go
  internal/scheduler/sync_prices_test.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, build-frontend, copy-embedded-files

feat: Securities without geography/industry count as ALL categories
  internal/evaluation/scoring.go
  internal/evaluation/scoring_test.go
  internal/modules/optimization/constraints.go
  internal/modules/optimization/constraints_test.go
  internal/modules/portfolio/service.go
  internal/modules/portfolio/service_test.go
  internal/services/opportunity_context_builder.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

refactor: Remove dismissed filter functionality
  frontend/dist/assets/index-BhwhCMZy.js
  frontend/dist/assets/index-PhIFc70F.js
  frontend/dist/index.html
  frontend/src/api/client.js
  frontend/src/components/portfolio/NextActionsCard.jsx
  internal/database/migrations/035_drop_dismissed_filters.md
  internal/database/schemas/config_schema.sql
  internal/di/jobs.go
  internal/di/repositories.go
  internal/di/services.go
  internal/di/types.go
  internal/modules/opportunities/calculators/averaging_down.go
  internal/modules/opportunities/calculators/base.go
  internal/modules/opportunities/calculators/base_test.go
  internal/modules/opportunities/calculators/opportunity_buys.go
  internal/modules/opportunities/calculators/profit_taking.go
  internal/modules/opportunities/calculators/rebalance_buys.go
  internal/modules/opportunities/calculators/rebalance_sells.go
  internal/modules/opportunities/calculators/weight_based.go
  internal/modules/planning/domain/context.go
  internal/modules/planning/domain/models.go
  internal/modules/planning/domain/models_test.go
  internal/modules/planning/handlers/dismissed_filter.go
  internal/modules/planning/handlers/routes.go
  internal/modules/planning/handlers/routes_test.go
  internal/modules/planning/repository/dismissed_filter_repository.go
  internal/modules/planning/repository/dismissed_filter_repository_test.go
  internal/modules/universe/interfaces.go
  internal/modules/universe/security_deletion_service.go
  internal/modules/universe/security_deletion_service_test.go
  internal/server/server.go
  internal/services/opportunity_context_builder.go
  internal/services/opportunity_context_builder_interfaces.go
  internal/services/opportunity_context_builder_test.go
  internal/services/trade_execution_service.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, build-frontend, copy-embedded-files

perf: Add multi-layer optimizer caching to reduce weights computation time
  internal/modules/calculations/technical.go
  internal/modules/optimization/risk.go
  internal/modules/optimization/risk_test.go
  internal/modules/optimization/service.go
  internal/modules/optimization/service_test.go
  internal/scheduler/adapters.go
  internal/scheduler/get_optimizer_weights.go
  internal/scheduler/get_optimizer_weights_test.go
  internal/scheduler/interfaces.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

refactor: Move price filtering from write-time to read-time with caching
  internal/di/repositories.go
  internal/di/services.go
  internal/modules/historical/handlers/handlers_test.go
  internal/modules/historical/handlers/routes_test.go
  internal/modules/risk/handlers/handlers_test.go
  internal/modules/risk/handlers/routes_test.go
  internal/modules/snapshots/handlers/handlers_test.go
  internal/modules/universe/historical_sync.go
  internal/modules/universe/historical_sync_test.go
  internal/modules/universe/history_db.go
  internal/modules/universe/history_db_test.go
  internal/modules/universe/price_filter.go
  internal/modules/universe/price_filter_test.go
  internal/modules/universe/price_validator.go
  internal/modules/universe/price_validator_test.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

perf: Optimize ScoresRepositoryAdapter queries to use WHERE IN clauses
  internal/scheduler/adapters.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

refactor: Consolidate price access through HistoryDBInterface with read-time filtering
  internal/di/jobs.go
  internal/di/services.go
  internal/di/types.go
  internal/market_regime/detector_region_test.go
  internal/market_regime/index_service.go
  internal/market_regime/index_service_test.go
  internal/modules/charts/service.go
  internal/modules/charts/service_test.go
  internal/modules/display/health_calculator.go
  internal/modules/display/portfolio_display_calculator.go
  internal/modules/display/security_performance.go
  internal/modules/historical/handlers/handlers.go
  internal/modules/optimization/risk.go
  internal/modules/optimization/risk_helper_test.go
  internal/modules/portfolio/history_repository.go
  internal/modules/portfolio/interfaces.go
  internal/modules/risk/handlers/handlers.go
  internal/modules/risk/handlers/handlers_test.go
  internal/modules/snapshots/handlers/handlers.go
  internal/modules/symbolic_regression/data_prep.go
  internal/modules/symbolic_regression/data_prep_test.go
  internal/modules/universe/handlers/handlers.go
  internal/modules/universe/historical_sync.go
  internal/modules/universe/history_db.go
  internal/modules/universe/history_db_test.go
  internal/modules/universe/security_deletion_service_test.go
  internal/scheduler/tag_update.go
  internal/server/server.go
  internal/server/system_handlers.go
  internal/services/exchange_rate_cache_service.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

feat: Implement security overrides system with EAV pattern
  cmd/server/main.go
  frontend/dist/assets/index-BC7YGjZ-.js
  frontend/dist/assets/index-PhIFc70F.js
  frontend/dist/index.html
  frontend/src/api/client.js
  frontend/src/components/modals/EditSecurityModal.jsx
  internal/database/migrations/036_security_overrides.md
  internal/database/schemas/universe_schema.sql
  internal/di/jobs.go
  internal/di/repositories.go
  internal/di/services.go
  internal/di/types.go
  internal/modules/portfolio/service.go
  internal/modules/universe/handlers/handlers.go
  internal/modules/universe/handlers/routes.go
  internal/modules/universe/handlers/routes_test.go
  internal/modules/universe/override_helpers.go
  internal/modules/universe/override_repository.go
  internal/modules/universe/override_repository_interface.go
  internal/modules/universe/override_repository_test.go
  internal/modules/universe/security_repository.go
  internal/modules/universe/security_repository_overrides_test.go
  internal/modules/universe/security_setup_service.go
  internal/modules/universe/security_setup_service_test.go
  internal/modules/universe/sync_service.go
  internal/queue/types.go
  internal/scheduler/tradernet_metadata_sync_job.go
  internal/scheduler/tradernet_metadata_sync_job_test.go
  internal/server/server.go
  internal/server/system_handlers.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, build-frontend, copy-embedded-files

fix: Remove deprecated columns from queries after migration 036
  internal/database/migrations/033_add_market_code_to_securities.md
  internal/database/migrations/034_add_market_indices_and_region.md
  internal/market_regime/index_sync_service.go
  internal/market_regime/index_sync_service_test.go
  internal/modules/optimization/handlers/handlers.go
  internal/modules/portfolio/position_repository.go
  internal/version/version.go
  llm-advisor-workflow.md
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

fix: Tradernet sync overwrites all fields, not just empty ones
  internal/scheduler/tradernet_metadata_sync_job.go
  internal/scheduler/tradernet_metadata_sync_job_test.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

feat: Add security:metadata work type for Tradernet metadata sync
  internal/di/work.go
  internal/modules/universe/metadata_sync_service.go
  internal/version/version.go
  internal/work/security.go
  internal/work/security_test.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

refactor: Wire work processor and disable old queue system
  cmd/server/main.go
  internal/di/jobs.go
  internal/di/services.go
  internal/di/types.go
  internal/di/wire.go
  internal/di/work.go
  internal/server/server.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

refactor: Remove HealthCheck and DividendReinvestment composite jobs
  cmd/server/main.go
  internal/di/jobs.go
  internal/di/jobs_test.go
  internal/di/types.go
  internal/di/types_test.go
  internal/di/wire_test.go
  internal/scheduler/dividend_reinvestment.go
  internal/scheduler/health_check.go
  internal/server/server.go
  internal/server/system_handlers.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

refactor: Delete dead queue/listeners.go (replaced by work/triggers.go)
  internal/queue/listeners.go
  internal/queue/listeners_test.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

refactor: Remove queue package - all jobs now use Work Processor
  cmd/server/main.go
  internal/di/jobs.go
  internal/di/jobs_test.go
  internal/di/services.go
  internal/di/types.go
  internal/di/types_test.go
  internal/di/wire.go
  internal/di/wire_test.go
  internal/queue/handlers.go
  internal/queue/history.go
  internal/queue/history_test.go
  internal/queue/manager.go
  internal/queue/manager_test.go
  internal/queue/memory_queue.go
  internal/queue/memory_queue_test.go
  internal/queue/progress.go
  internal/queue/progress_test.go
  internal/queue/registry.go
  internal/queue/registry_test.go
  internal/queue/types.go
  internal/queue/types_test.go
  internal/queue/worker.go
  internal/queue/worker_test.go
  internal/scheduler/create_trade_plan.go
  internal/scheduler/formula_discovery.go
  internal/scheduler/r2_backup.go
  internal/server/r2_backup_handlers.go
  internal/server/server.go
  internal/server/system_handlers.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

fix: Complete work processor review and add missing tests
  internal/version/version.go
  internal/work/analysis_test.go
  internal/work/deployment_test.go
  internal/work/dividend_test.go
  internal/work/processor.go
  internal/work/trading_test.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

fix: Correct work API route from /api/api/work to /api/work
  internal/version/version.go
  internal/work/handlers.go
  internal/work/handlers_test.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

fix: Apply security overrides in allocation calculations
  internal/di/allocation_security_provider_adapter.go
  internal/di/repositories.go
  internal/di/security_provider_adapter.go
  internal/di/services.go
  internal/modules/allocation/repository.go
  internal/modules/allocation/repository_overrides_test.go
  internal/modules/allocation/repository_test.go
  internal/modules/portfolio/position_repository.go
  internal/modules/portfolio/position_repository_isin_test.go
  internal/modules/portfolio/position_repository_overrides_test.go
  internal/modules/portfolio/service.go
  internal/modules/snapshots/handlers/handlers_test.go
  internal/modules/trading/safety_service_failsafe_test.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

docs: Add migration 037 and cache clearing scripts
  internal/database/migrations/037_convert_deprecated_allocation_types.md
  internal/version/version.go
  scripts/clear_optimizer_cache.sh
  scripts/migrate_037_allocation_types.sql
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

docs: Add comprehensive inline documentation to frontend files
  frontend/src/App.jsx
  frontend/src/api/client.js
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, build-frontend, copy-embedded-files

docs: Add inline documentation to ErrorBoundary and main entry point
  frontend/src/components/ErrorBoundary.jsx
  frontend/src/main.jsx
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, build-frontend

docs: Add comprehensive inline documentation to router and app store
  cmd/server/main.go
  frontend/src/router/index.jsx
  frontend/src/stores/appStore.js
  internal/di/types.go
  internal/di/wire.go
  internal/di/wire_test.go
  internal/di/work.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, build-frontend, copy-embedded-files

refactor: Simplify nil check for optimizer weights (len handles nil maps)
  internal/services/opportunity_context_builder.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

style: Fix formatting in metadata_enricher.go (remove extra blank line)
  internal/modules/universe/metadata_enricher.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

frontend docs
  frontend/src/components/charts/AllocationRadar.jsx
  frontend/src/components/charts/GeoChart.jsx
  frontend/src/components/charts/GeographyRadarCard.jsx
  frontend/src/components/charts/IndustryChart.jsx
  frontend/src/components/charts/IndustryRadarCard.jsx
  frontend/src/components/charts/RadarChart.jsx
  frontend/src/components/charts/SecurityChart.jsx
  frontend/src/components/charts/SecuritySparkline.jsx
  frontend/src/components/layout/AppHeader.jsx
  frontend/src/components/layout/JobFooter.jsx
  frontend/src/components/layout/Layout.jsx
  frontend/src/components/layout/MarketStatus.jsx
  frontend/src/components/layout/StatusBar.jsx
  frontend/src/components/layout/TabNavigation.jsx
  frontend/src/components/modals/AddSecurityModal.jsx
  frontend/src/components/modals/EditSecurityModal.jsx
  frontend/src/components/modals/PlannerManagementModal.jsx
  frontend/src/components/modals/R2BackupModal.jsx
  frontend/src/components/modals/SecurityChartModal.jsx
  frontend/src/components/modals/SettingsModal.jsx
  frontend/src/components/portfolio/ConcentrationAlerts.jsx
  frontend/src/components/portfolio/NextActionsCard.jsx
  frontend/src/components/portfolio/SecurityTable.jsx
  frontend/src/components/system/LogsViewer.jsx
  frontend/src/components/trading/TradesTable.jsx
  frontend/src/views/Diversification.jsx
  frontend/src/views/Logs.jsx
  frontend/src/views/NextActions.jsx
  frontend/src/views/RecentTrades.jsx
  frontend/src/views/SecurityUniverse.jsx
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, build-frontend

refactor: Remove unused job interval settings and document hardcoded intervals
  internal/utils/temperament_config.go
  internal/utils/temperament_config_test.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

feat: Add icon-based priority multiplier slider control
  frontend/dist/assets/index-BC7YGjZ-.js
  frontend/dist/assets/index-CiVxmu-L.js
  frontend/dist/index.html
  frontend/src/components/portfolio/RatingIcon.jsx
  frontend/src/components/portfolio/SecurityTable.jsx
  frontend/src/stores/securitiesStore.js
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, build-frontend, copy-embedded-files

persist display mode
  internal/di/services.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

Add ASEX in fallbacks for market status
  internal/server/system_handlers.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

fix: Update migration script to handle multi-database architecture
  internal/version/version.go
  scripts/migrate_038_json_storage.sh
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

fix: Transform work events to proper JobStatusData format for frontend
  internal/di/work.go
  internal/version/version.go
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, go-fmt, go-vet, go-mod-tidy, go-build, golangci-lint, copy-embedded-files

refactor(frontend): Remove redundant deviation views from diversification charts
  frontend/dist/assets/index-CiVxmu-L.js
  frontend/dist/assets/index-DZm3-YSG.js
  frontend/dist/index.html
  frontend/src/components/charts/GeoChart.jsx
  frontend/src/components/charts/IndustryChart.jsx
Due: trailing-whitespace, end-of-file-fixer, check-merge-conflict, check-large-files, build-frontend

Path conditions:
  trailing-whitespace: any of: *.{go,js,jsx,ts,tsx,json,yaml,yml,md,sh,sql,css,html}, but not: ^frontend/dist/|^node_modules/
  end-of-file-fixer: any of: *.{go,js,jsx,ts,tsx,json,yaml,yml,md,sh,sql,css,html}, but not: ^frontend/dist/|^node_modules/
  check-yaml: any of: *.{yaml,yml}
  check-json: any of: *.json, but not: ^node_modules/|^frontend/node_modules/
  check-toml: any of: *.toml
  check-merge-conflict: any of: *, but not: ^frontend/dist/|^node_modules/
  check-large-files: any of: *, but not: ^frontend/dist/|^node_modules/|^vendor/
  go-fmt: any of: *.go, but not: ^vendor/
  go-vet: any of: *.go, but not: ^vendor/
  go-mod-tidy: any of: *.go
  go-build: any of: *.go, but not: ^vendor/
  golangci-lint: any of: *.go, but not: ^vendor/
  build-frontend: any of: frontend/**/*.{js,jsx,ts,tsx,css,html,json}, but not: ^frontend/dist/|^frontend/node_modules/
  copy-embedded-files: any of: *.go
